@charset "utf-8";
/*common*/
body {
    background: #fff;
}

body, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
    margin: 0;
}

ol, ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

html {
    font-size: 14px;
    color: #464646;
}

body {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #464646;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a:focus {
    outline: none;
}

input {
    outline: none;
    border: 1px solid #e8e8e8;
}

textarea {
    resize: none;
    width: 100%;
    outline: none;
    font-size: 14px;
}

img {
    border: 0 none;
}

pre {
    font-family: "Microsoft YaHei";
    word-wrap: break-word;
    width: 900px;
    white-space: pre-wrap;
}

select {
    background: transparent;
}

.f-page {
    min-height: 100%;
    position: relative;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.position {
    position: relative;
}

.oh {
    overflow: hidden;
}

.d {
    display: inline-block;
}

.db {
    display: block;
}

.clear {
    clear: both;
}

.clear:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.bs {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.13)
}

.fz12 {
    font-size: 12px;
}

.fz14 {
    font-size:     font-weight: bold;
    padding-toppx;
}

.fz18 {
    font-size: 18px;
    color: #18b4ed;
}

.fz20 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 22px;
}

.fz24 {
    font-size: 24px;
}

.fz26 {
    font-size: 26px;
}

.fz30 {
    font-size: 30px;
}

.fz36 {
    font-size: 36px;
}

.m33 {
    margin: 33px 0 50px;
}

.mt20 {
    margin-top: 20px;
    line-height: 25px;
}

.mt80 {
    margin-top: 60px;
}



.mr80 {
    margin-right: 76px;
}

.tc, .tc h1, .tc * {
    text-align: center;
    line-height: 22px;
}

.cus_name .tc {
    line-height: 42px;
    margin-top: 30px;
}

.holder {
    text-align: center;
    color: #898e95;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.min-w1200 {
    min-width: 1200px;
}

.w1200 {
    margin: 0 auto;
}

.c-fff {
    color: #888;
	/*color:#3ec8dd;*/
}

.c-898e95 {
    color: #898e95;
}

.box {
    /*padding-top:55px;*/
}

/*headerbox*/
.header_bg {
    background: url(../img/nav_bg.png);
}

.headerbox {
    position: fixed;
    left:0;
    top:0;
    right:0;
    height: 55px;
    min-width: 1200px;
    z-index:1000;
}

.headerbox .w1200{
    width:100%;
    min-width:1200px;
    height:55px;
}

.userIconMask{
    position: absolute;
    top: 0;
    left:0;
    height: 54px;
    width: 32px;
    z-index:1002;
}

.header_logo {
    width: 245px;
    height: 32px;
    /*background: url(../images/logo.png) 0 0 no-repeat;*/
    display: block;
  
    margin-left: 12px;
}

.header_nav {
    position: relative;
}
.headerBlack{
    background:#4c4c4c;
	opacity:5;
}
.headerBlack a{
    color: #ddd;
}
.headerBlack .userIconMask{
    background: url('../img/usericon_mask.png');
}
.headerWhite{
    background:#FFFFFF;
    /*阴影兼容性*/
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=5);/*for ie6,7,8*/
    -moz-box-shadow:0 2px 2px rgba(0,0,0,.13);/*firefox*/
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,.13);/*webkit*/
    box-shadow:0 2px 2px rgba(0,0,0,.13);/*opera或ie9*/
	opacity:0.8;
}
.headerWhite a{
    color: #323439;
}
.headerWhite .userIconMask{
    background: url('../img/usericon_mask1.png');
}



.download {
    margin-right: 228px;
}

.header_nav li a {
    line-height: 55px;
    padding-top: 4px;
}

a.download span{
    display:none;
}
a.download:hover span{
    /*width:216px;*/
    /*height:190px;*/
    position:absolute;
    display:block;
    z-index:1;
    /*top:0px;*/
    /*left:158px;*/
    /*opacity: 1;*/
    /*filter: alpha(opacity=1);*/
    /*background-color: #000;*/

}
a.download:hover span img{
    position:absolute;
    left:-120px;
    top: 32px;
    background-size:auto 100%;
}

.header_nav li .v_line {
    color: #ddd;
    margin: 0 15px 0 15px;
}

.header_nav .ver-hover {
    display: none;
    position: absolute;
    top: 0px;
    width: 64px;
    border-top: 4px solid #3ec8dd;
}

.header_nav li a:hover, .header_nav li a.hover {
    color: #3ec8dd;
    padding-top: 4px;
}

.header_nav li .btn_login {
    transition: background-color 1s;
    height: 28px;
    line-height: 25px;
    display: block;
    padding-top: 0;
}

.header_nav li .btn_login:hover {
    color: #3ec8dd;
}

.header_nav li .btn_logined .username {
    color:#00dfb9; /*#3ec8dd;*/
	font-size:16pt;
	font-weight:800;
	
}

.header_nav li span {
    width: 50px;
}

.header_top {
    background: #fff;
    z-index: 10;
}

.headerbox.show-fixed {
    position: fixed;
    display: block !important;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 10;
    min-width: 1200px;
}
.headerbox.show-fixed .header-bg{
    background: url('../img/usericon_mask1.png');
}
.show-fixed .header_nav a, .show-fixed .header_nav .c-fff {
    color: #323439;
}

/*footnote*/
.footnote {
    /*background: #222;*/
	background:#222;
    padding: 30px 0;
    line-height: 28px;
    min-width: 1200px;
}



