<?xml version="1.0"?>
<userconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <regstatus>2</regstatus>
  <regverify>0</regverify>
  <regmsgstatus>1</regmsgstatus>
  <regmsgtxt>欢迎你成为本站会员！</regmsgtxt>
  <regkeywords></regkeywords>
  <regctrl>0</regctrl>
  <regsmsexpired>20</regsmsexpired>
  <regemailexpired>1</regemailexpired>
  <regemailditto>0</regemailditto>
  <mobilelogin>1</mobilelogin>
  <emaillogin>1</emaillogin>
  <regrules>1</regrules>
  <regrulestxt>1择应遵守法律法规及社会公德。您必须对您的密码保密，您将对您注册名和密码下发生的所有活动承担责任。</regrulestxt>
  <invitecodeexpired>1</invitecodeexpired>
  <invitecodecount>1</invitecodecount>
  <invitecodenum>20</invitecodenum>
  <pointcashrate>10</pointcashrate>
  <pointinvitenum>15</pointinvitenum>
  <pointloginnum>10</pointloginnum>
</userconfig>